[Unit]
Description=Stash webserver

[Service]
Type=simple
WorkingDirectory=/srv/stash
ExecStart=/srv/stash/stash.js 8097
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
